.offcanvas-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f8f8f8;
    height: 55px;
    border: 1px solid #d3d3d3;
}
.offcanvas-menu, .midle-content-offcanvas {
    padding: 20px;
}
.offcanvas-nav{
    list-style: none;
    padding: 0 !important;
}
.offcanvas-nav-item{
    font-size: 22px;
    line-height: 40px;
}
.offcanvas-nav-item::before{
    content: "";
    display: none;
    background-color: #08b475;
    width: 8px;
    position: absolute;
    left: 0;
    height: 40px;
}
.offcanvas-nav-item:hover::before{
    display: block;
}
.offcanvas-nav-item:hover a{
    color:#000;
    font-weight:500;
}
.offcanvas-nav-link{
    text-decoration: none;
    display: inline-block;
    color:rgba(30,39,46,1);
    font-weight:400;
}
.offcanvas-nav-link img {
    margin-right: 20px;
    width: 17px;
    position: relative;
    bottom: 2px;
}

.talk-to-loan-text{
    display: block;
    color: #2a2b2e;
    font-size: 16px;
    line-height: 40px;
}
.call-number{
    color: #0092d3;
    font-size: 30px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
}


.code-line {
    font-size: 16px;
    color: #4d5858;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.code-line-text {
    position: relative;
    display: block
}
.code-line-text::before {
    content: "";
    width: 100%;
    height: 1px;
    color: #e2e2e2;
    background: #e2e2e2;
    position: absolute;
    left: -112% !important;
    top: 50%;
    /* transform: translateY(-50%); */
}
.code-line-text::after{
    content: "";
    width: 100%;
    height: 1px;
    color: #e2e2e2;
    background: #e2e2e2;
    position: absolute;
    right: -112% !important;
    top: 50%;
}
.personal-btn-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.personal-btn-group a{
    text-decoration: none;
}
.personal-btn-sidebar {
    width: 150px;
    height: 40px;
    outline: 0;
    border: 2px solid #e2e2e2;
    border-radius: 27px;
    color: #0092d3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 5px;
}


.footer{
    background-color: #f8f8f8;
    padding: 10px 25px 35%;
    margin-top: 20px;
}
.offcanvas-logo{
    margin-bottom: 20px;
    height: 38px;
}
.offcanvas-menu-items{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin-top: 15px;
}
.footer ul{
    list-style: none;
    padding: 0;
   
}
.footer ul li{ 
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    color: #37383b;
    font-weight: 500;

}
.footer ul li a {
    text-decoration: none;
    font-weight: 300 !important;
    color:#4d5858;
}