:root{
    --primaryColor:rgb(41, 161, 218);
    --secondaryColor:#4d5858;
    --tertiaryColor:#08b475;
    --bannerTitleFont: 40px;
    --sectionTitleFont:30px;
    --cartTitle:25px;
    --cartSubTitle:15px;
    --cardNavItem:15px;
    --paragraphFont:16px;
    --menuItemFont: 18px;
    --aboutBannerFont:30px;
    --aboutQulified:33px;
    --fontSize18:18px;
    --fontSize15:15px;
    --fontSize14:14px;
    --fontWeight300:300;
    --fontWeight400:400;
    --fontWeight500:500;
    --fontWeight600:600;
    --fontWeight700:700;
}
/*
*{
    font-family: 'roboto';
}
*/

body{
    color:var(--secondaryColor);
}
.custom-container{
    max-width: 1140px !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.section-title-text {
    font-size: var(--sectionTitleFont);
    font-weight: var(--fontWeight300);
}
.section-subtitle-text{
    font-size: var(--paragraphFont);
    font-weight: var(--fontWeight400);
}
.section-padding{
    padding: 60px 0;
}
.common-text{
    font-size: var(--paragraphFont400);
    font-weight: var(--fon);
    line-height: 26px;
}

button{
    outline: none !important;
    border: none;
    box-shadow: none !important;
}


.default-btn{
    background-color: var(--primaryColor);
    border-radius: 27px;
    padding: 13px 60px;
    margin-top: 20px;
    outline: 0;
    color: #fff;
    text-decoration: none;
}

.default-btn:hover{
    color:#fff;
}
.default-btn.primary-text:hover{
    color:var(--primaryColor)
}
.primary-text{
    color: var(--primaryColor);
}

@media(min-width:768px){
    :root{
        --sectionTitleFont:40px;
        --cartTitle:30px;
        --cardNavItem:16px;
        --cartSubTitle:20px;
        --aboutBannerFont:50px;
        --aboutQulified:50px;
    }
}
@media(min-width:768px){
    :root{
        --aboutBannerFont:70px;
        --aboutQulified:70px;
    }
}